<!DOCTYPE html>
<html lang="pt-br">

<head>
    @{
        Layout="MasterPageLogado";
    }
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/fac.css">
    <title>Carfel-FAQ</title>
</head>

<body>
    
    <section class="titulo">
        <h1>FAQ</h1>
        <br>
        <br>
        <br>
       
        <br>
        <br>
        <textarea class="textarea" placeholder="Digite aqui sua dúvida" cols="40" rows="4"></textarea>

    </section>
    <br>
    <br>
    <br>
   

    <div class="frequentes">
        <h2>Dúvidas Frequentes</h2>
    </div>
    <br>
    <div class="bg">    
        <div class="perguntas">
            <h3>Pergunta</h3>
            <p>Pergunta: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error corrupti similique eos commodi fugiat
                molestiae. Harum distinctio unde sapiente quaerat autem cum nobis ad, odit veritatis, modi saepe. Optio,
                at?
            </p>
        </div>
        <div class="resposta">
          <h3>Resposta</h3>  <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit neque id adipisci atque iure nesciunt
                beatae asperiores explicabo, illum unde voluptates nobis, similique, cupiditate laboriosam. Veritatis suscipit
                rem assumenda debitis.</p>
        </div>
    <br>
  
      


    </div>
    <br>
    <br>
    <br>
    <br>
    <br>




</body>
<footer>
            <section>
                <div class="chao">
                    <h4>Desenvolvido por Enzo Romano Panebianco ©</h4>
                    <p>E-mail:panebianco.enzo@yahoo.com.br </p>
                    
                    <a href="#">
                    <img src="/imagem/Facebook_Home_logo_old.svg.png" alt="facebook da empresa">
                    </a>
                    <img src="/imagem/instagram-colourful-icon.png" alt="instagram da empresa">
                </div>
              
            </section>
        </footer>


</html>