<!DOCTYPE html>
<html lang="pt-br">
<head>
@{
        Layout="MasterPageLogado";
}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/index.css">
    <title>Carfel</title>
    <script src="/JS/main.js"></script>

</head>

<body>
    
        <br>
        <br>
        <br>
        <section class="banner">


            <img src="/imagem/banner.jpeg" alt="primeiro banner">
            <div class="texto">
               
                <h1>O que é o Software</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet dolorum, totam dolor voluptates sunt quas
                    expedita eaque, fugit tempora adipisci laudantium ipsam alias aperiam animi et vero eum culpa atque.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut eius consequuntur perferendis tempora doloremque
                    dicta molestias, impedit inventore doloribus? Repellendus voluptates veritatis laborum eos illum consectetur,
                    magnam libero! Ratione, voluptas.</p>
>
            </div>
        </section>
        <section class="plano flex-container">
            <article>
                <div class="precos">
                    <h2>Planos</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae itaque odio unde sit nostrum? Aperiam
                        praesentium tempore corporis temporibus unde ullam nihil laboriosam placeat, aut iste tempora quo,
                        accusantium doloremque! Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum harum nobis
                        fuga ut, placeat magni at aliquam numquam, voluptatibus modi non earum excepturi vero suscipit eius
                        quia molestias fugit reprehenderit.
                    </p>
                </div>
            </article>
            <article>
                <div class="precos free">
                   
                        <h2>Free</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem officiis doloribus illum? Animi totam
                            
                        </p>
                        <br>
                        <br>
                        <button>
                            COMEÇAR
                        </button>
                    
                </div>
            </article>
            <article>
                <div class="precos baixo">
                    
                        <h2>19,90</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque at veritatis natus dolorum totam ipsam,
                            
                        </p>
                        <br>
                        <br>
                        <button>
                            COMPRAR
                        </button>
                    
                </div>
            </article>
            <article>
                <div class="precos alto">
                    
                        <h2>199,90</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, sequi animi voluptatibus assumenda
                            vbero omnis aperiam pariatur.
                            Nobis
                        </p>
                        <br>
                        <button>
                            COMPRAR
                        </button>
                    
                </div>
            </article>
        </section>
       
        <section class="sobre">
            <div class="sobrenos ">
                <h2>Sobre Nós</h2>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi inventore veritatis, autem minima totam
                    exercitationem laborum, earum molestias quasi quam magnam? Temporibus, quo et delectus nostrum suscipit
                    voluptate perspiciatis ducimus?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic consequatur
                    architecto ab numquam recusandae perferendis, rem possimus harum eius autem officiis reiciendis quam
                    accusamus molestiae quis! Soluta consequatur ex voluptatibus.</p>
                <form>

                    <button >
                        <a href="/Pages/Sobre">
                        Saiba Mais
                        </a>
                    </button>
                </form>
            </div>
            <div class="localizacao">
                <h3>Localização</h3>
                <img src="/imagem/localizacao.jpg" alt="local">
            </div>
        </section>
    
    
<footer>
            <section>
                <div class="chao">
                    <h4>Desenvolvido por Enzo Romano Panebianco ©</h4>
                    <p>E-mail:panebianco.enzo@yahoo.com.br </p>
                    
                    <a href="#">
                    <img src="/imagem/Facebook_Home_logo_old.svg.png" alt="facebook da empresa">
                    </a>
                    <img src="/imagem/instagram-colourful-icon.png" alt="instagram da empresa">
                </div>
              
            </section>
        </footer>
</body>
       

</html>