<!DOCTYPE html>
<html lang="pt-br">

<head>
   @{
        Layout="MasterPageLogado";
    }
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/sac.css">
    <title>Carfel-SAC</title>
</head>

<body>
    
    <main class="meio">

        <h1>SAC</h1>

        <h2>Central de Relacionamento</h2>
    </main>
   
    <br>
    <br>
    <br>
    <br>
    <section class="sac flex-container">
        <div class="contato email">
            <article>
                <h2>Enviar E-mail</h2>
                <br>
                <img src="/imagem/arroba.gif" alt="imagem chat">
                <br>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis sit animi nemo mollitia earum quisquam
                </p>
                <br>
                <br>


                <form>
                    <button>
                        ENVIAR E-MAIL
                    </button>
        </div>
        </form>
        </article>
        <article>
            <div class="contato telefone">
                <h2>Telefone</h2>
                <br>
                <img src="/imagem/telefoneAtivo 3.png" alt="imagem telefone">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis sit animi nemo mollitia earum quisquam
                </p>
                <br>
                <br>


                <p>1234-5678</p>
            </div>

        </article>
        <article>
            <div class="contato chatt">
                <h2>Chat Online</h2>
                <br>
                <img src="/imagem/sac (1).png" alt="imagem e-mail">
                <p>Lorem ipsum dolor sit quos dolor amet illum incidunt, distinctio facere atque. Quos maxime dolorum fuga saepe!
                </p>
                <br>
                <br>

                <form>
                    <div class="btn" id="chatBtn" onclick="desligar(contato chatt)">
                        INICIAR CHAT
                    </div>
                </form>
            </div>
        </article>
        </div>

        <section id="chat" class="hide">
            <header>
                <nav class="flex-container">
                    <div class="perfil flex-container">
                        <div class="perfil-img">
                            <img src="/imagem/r0j6UUS - Imgur.png" alt="">
                        </div>
                        <div class="perfil-dados">
                            <span class="perfil-nome">Check Point Atendente </span>
                            <span class="perfil-status"></span>
                        </div>
                    </div>
                    <!--fim div perfil-->
                    <div class="acoes flex-container">
                        <a href="#">
                            <i class="fas fa-search"></i>
                        </a>
                        <a href="#">
                            <i class="fas fa-paperclip"></i>
                        </a>
                    </div>
                </nav>
            </header>
            <main class="flex-container">

                <div class="chat-msg enviada">
                    <p>Lorem ipsum dolor sit iure necessitatibus.</p>
                    <span class="chat-msg-horario">16:20</span>
                </div>
                <div class="chat-msg recebida">
                    <p>Lorem ipsum dolor sit amet, conselis maiores aliquam, soluta eaque, corrupti reprehenderit atque quaerat
                        officiis. Eveniet, ad. Cumque, iure necessitatibus.</p>
                    <span class="chat-msg-horario">16:21</span>
                </div>
                <div class="chat-msg enviada">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis perspiciatis dolor dicta error itaque,
                        numibus.
                    </p>
                    <span class="chat-msg-horario">16:21</span>
                </div>
                <div class="chat-msg recebida">
                    <p>res aliquam, soluta eaque, corrupti reprehenderit atque quaerat officiis. Eveniet, ad. Cumque, iure necessitatibus.</p>
                    <hr>
                    <span class="chat-msg-horario">16:22</span>
                </div>

            </main>
            <footer class="flex-container">
                <form>
                    
                    <form class="mensagem">
                        <textarea>
    
                              </textarea>
                    </form>
                </form>

            </footer>
        </section>

    </section>
    

<script src="/JS/chat.js"></script>
</body>
<footer>
            <section>
                <div class="chao">
                    <h4>Desenvolvido por Enzo Romano Panebianco ©</h4>
                    <p>E-mail:panebianco.enzo@yahoo.com.br </p>
                    
                    <a href="#">
                    <img src="/imagem/Facebook_Home_logo_old.svg.png" alt="facebook da empresa">
                    </a>
                    <img src="/imagem/instagram-colourful-icon.png" alt="instagram da empresa">
                </div>
              
            </section>
        </footer>

</html>