<!DOCTYPE html>
<html lang="pt-br">

<head>
    @{
        Layout="MasterPageLogado";
    }
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/sobre.css">
    <title>Carfel-Sobre Nós</title>
</head>

<body>
    
    
    <br>
    <section class="meio">
        <h1>SOBRE A EMPRESA</h1>
        <br>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum iusto dicta laboriosam natus nobis repudiandae porro,
            et impedit assumenda unde minima vel odio culpa corrupti quas aperiam officiis deserunt minus? Lorem ipsum dolor
            sit amet consectetur adipisicing elit. Dolor eveniet deleniti numquam ex earum obcaecati enim repellat! Corporis
            praesentium id quibusdam qui nisi vitae unde itaque, eum quas, nemo explicabo. Lorem ipsum dolor sit amet, consectetur
            adipisicing elit. Ab earum libero quo exercitationem provident, aliquid cum quam consequatur maxime adipisci
            quasi animi eum blanditiis obcaecati porro corporis dolor ex incidunt. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Perspiciatis amet aut ad placeat sapiente minus quam vero incidunt iure rem architecto sit
            exercitationem, vitae laboriosam est perferendis dolorum ratione debitis. Lorem ipsum dolor sit amet consectetur,
            adipisicing elit. Quam odit voluptatem perferendis hic. Dolore, debitis id blanditiis, fugiat voluptatibus, fuga
            doloremque labore tempore nobis sit provident harum laudantium quam impedit. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Laborum et id quasi autem placeat maiores, eius facere dignissimos, quisquam voluptate beatae
            perspiciatis molestiae rerum, nobis non repudiandae officia aliquid earum. Lorem ipsum dolor, sit amet consectetur
            adipisicing elit. Corrupti mollitia porro distinctio quasi eligendi non dolore adipisci, tempora molestias? Error
            pariatur, eius inventore a dolorum magnam deleniti odio corporis suscipit? Lorem ipsum dolor, sit amet consectetur
            adipisicing elit. Esse accusantium consequatur reprehenderit fugit tempore tempora suscipit dolores amet laborum
            accusamus quas nobis aut, sed minima expedita. Voluptate voluptates nam ratione. </p>
        <img src="/imagem/Ativo 5.png" alt="logo empresa" >
    </section>

</body>
<footer>
            <section>
                <div class="chao">
                    <h4>Desenvolvido por Enzo Romano Panebianco ©</h4>
                    <p>E-mail:panebianco.enzo@yahoo.com.br </p>
                    
                    <a href="#">
                    <img src="/imagem/Facebook_Home_logo_old.svg.png" alt="facebook da empresa">
                    </a>
                    <img src="/imagem/instagram-colourful-icon.png" alt="instagram da empresa">
                </div>
              
            </section>
        </footer>

</html>